div.hiddenFieldSet {display:none}
label {display:inline-block}
input {margin:2px 0}
h2 {margin:25px 0 15px 0}

#loginform {float:right; width:250px}
#loginform input.field {width:80px}
#loginform {color:#FFD}
#loginform label {width:auto}
#loginform .linkb_logout {float:right; color:#000; font:700 12px arial; background:#DDD; padding:2px 4px; margin:4px}

/* FORMS */

#MainContent_p_AddForm label 
{
    min-width: 120px;
}

/* TIMEPICKER */

* .ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
* .ui-timepicker-div dl{ text-align: left; }
* .ui-timepicker-div dl dt{ height: 25px; }
* .ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
* .ui-timepicker-div td { font-size: 90%; }

/* MAP
----------------------------------------------------------*/

#map_view {
    width: 100%;
    height: 500px;
    margin: 0;
}

/* MAP POPUPS
----------------------------------------------------------*/

div.map_popup 
{
    font:700 11px tahoma;
    margin:5px 0; 
    padding:2px 10px; 
    color:#FFF; 
    line-height: 15px;
}

div.map_popup .order_id, div.map_popup .driver_id
{
    text-align:center; 
    border:none; 
    border-radius:5px;
    padding:2px 0; 
    margin:0 0 10px 0; 
    font:700 12px tahoma;
}

div.map_popup_groupDiv.driver 
{
    background: #99C;
}

div.map_popup_groupDiv.driver .driver_id 
{
    background: #669; 
}

div.map_popup_groupDiv.order 
{
    background: #4C4;
}

div.map_popup_groupDiv.order .order_id 
{
    background: #282; 
}

div.map_popup .course_date {}
div.map_popup .startpoint_name {}
div.map_popup .notes {}

div.map_popup .assign
{
    display: block;
    text-align: center;
    width: 80px;
    margin: 8px auto 0 auto;
    padding: 1px 5px;
    border-radius: 5px;
    background: #669;
    cursor: pointer;
}

div.map_popup .assign:hover
{
    background: #557;
}

div.map_popup_groupDiv_parent 
{
    padding: 0;
    background: transparent !important;
}

div.map_popup_groupDiv 
{
    height: 118px;
    border: 1px solid black;
    border-radius: 12px;
}

/* DEFAULTS
----------------------------------------------------------*/

body   
{
    background: url(../Images/Layout/bg.png);
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #696969;
}

a:link, a:visited
{
    color: #034af3;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.5em;
    font-weight: 600;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.layout
{
    background: url(../Images/Layout/bg_top.png) repeat-x;
}

.page
{
    width: 1100px;
    margin: 0px auto 0px auto;
    border: none;
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: url(../Images/Layout/top.png) no-repeat;
    width: 100%;
    height: 255px;
}

.header.hidden 
{
    display: none;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.main
{
    margin: 0 0 8px 0;
    width: 885px;
}

.main .content 
{
    background: url(../Images/Layout/content_bg.png) repeat-y;
    min-height: 339px;
}

.main .content2
{
    background: url(../Images/Layout/content_bg_content.png) no-repeat;
    padding: 0 12px;
    min-height: 339px;
}

.main .maintop 
{
    background: url(../Images/Layout/content_top.png) no-repeat;
    height:21px;
}

.main .mainbottom 
{
    background: url(../Images/Layout/content_bottom.png) no-repeat;
    height:21px;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}

/* NEW ORDER DIALOG
----------------------------------------------------------*/

div#dialog_change_orders 
{
    display: none;
    background: #EAEAFA;
    border: solid 1px #000;
    border-radius: 15px;
    padding: 10px;
    position: absolute;
    top: 50px;
    left: 50px;
    width: 300px;
    height: 200px;
    margin: 0;
    z-index: 1000000;
}

div#dialog_change_orders .title 
{
    background: #E5D5FA;
    font: 700 11px tahoma;
    padding: 2px 8px;
    cursor: move;
    margin: 0 0 15px 0;
}

div#dialog_change_orders .title, div#dialog_change_orders .close 
{
    border: 1px solid #777;
    border-radius: 5px;
}

div#dialog_change_orders label
{
    width: 100px;
    color: #000;
}

div#dialog_change_orders .close
{
    float: right;
    background: #D22;
    font: 700 11px tahoma;
    padding: 2px 4px;
    cursor: pointer;
    color: #FFF;
    width: 14px;
    text-align: center;
}

div#dialog_change_orders .title, div#dialog_change_orders .close 
{
    line-height: 14px;
}

div#dialog_change_orders .close:hover
{
    background: #F11;
}

div#dialog_change_orders .submitbutton
{
    margin: 15px 0 0 20px;
    text-align: center;
}

div#dialog_change_orders .submitbutton button
{
    display: none;
}

div#dialog_change_orders.add .submitbutton button.add
{
    display: inline-block;
}

div#dialog_change_orders.edit .submitbutton button.edit
{
    display: inline-block;
}

/* RIGHT MENU 
----------------------------------------------------------*/

.rightmenu 
{
    float: right;
    width: 200px;
}

.rightmenu .list
{
}

.rightmenu .list .title
{
    background: url(../Images/Layout/right_title.png) no-repeat;
    height: 40px;
}

.rightmenu .new
{
    margin: 15px auto 0 auto;
    text-align: center;
}

.rightmenu .content 
{
    background: url(../Images/Layout/right_bg.png) repeat-y;
    min-height: 320px;
}

.rightmenu .content2 
{
    background: url(../Images/Layout/right_top.png) no-repeat;
    min-height: 320px;
}

.rightmenu .bottom
{
    background: url(../Images/Layout/right_bottom.png) no-repeat;
    height: 18px;
}

.rightmenu ul
{
    font: 500 11px tahoma;
    line-height:13px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #faf8fb;
}

.rightmenu li 
{
    background: #b293bf;
    padding: 5px 2px 5px 8px;
    border-top: 1px solid #29202d;
    border-bottom: 1px solid #29202d;
    margin: 0 2px 3px 2px;
    cursor: pointer;
    position: relative;
}

.rightmenu li:hover
{
    background: #bda0c9;
}

.rightmenu li.selected
{
    background: #99a7cc;
}


.rightmenu div.edit 
{
    position: absolute;
    top: 2px;
    right: 2px;
    background: #9e85a9;
    border: none;
    border-radius: 4px;
    padding: 2px 5px;
}

.rightmenu div.edit:hover
{
    background: #826b8b;
}

.rightmenu div.id_driver, .rightmenu div.id_order {display: none}

/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    background-color:#3a4f63;
    width:100%;
}

div.topmenu 
{
    height: 30px;
    padding: 15px 0 20px 0;
    background: url(../Images/Layout/menu_bg.png) no-repeat 0 15px;
    width: 100%;
}

div.menu
{
    padding: 0 0 0 18px;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li 
{
    background: #ad90ce url(../Images/Layout/menu_button_bg.png);
    border-left: 1px solid #654f7d;
    border-right: 1px solid #654f7d;
    margin:0 6px 0 0;
    text-align: center;
}

div.menu ul li:hover
{
    background: #7b78cf url(../Images/Layout/menu_button_bg_hover.png);
    border-color: #71598b;
}

div.menu ul li a, div.menu ul li a:visited
{
    color: #FFF;
    display: block;
    line-height: 30px;
    padding: 0 20px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    background: url(../Images/Layout/menu_button_hover.png) no-repeat right;
}

div.menu ul li a:active
{
}

div.menu ul a.selected 
{
    background: url(../Images/Layout/menu_button_bg_hover.png);
}

div.topmenu div#menuToggle 
{
    width: 31px;
    height: 30px; 
    background-repeat: no-repeat;
    float: right;
    cursor: pointer;
}

div#menuToggle.hide 
{
    background-image: url(../Images/Layout/menu_button_up.png)
}

div#menuToggle.show
{
    background-image: url(../Images/Layout/menu_button_down.png)
}

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.noheight 
{
    height: 0;
    font-size: 1px;
}

/*
.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}
*/

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}